@using ClsCommon
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{

}
<!--<section class="mz-breadcrumb-section">
    <div class="container">
        <div class="mz-breadcrumb-block">
            <ul class="mz-breadcrumb-block__list">
                <li class="mz-breadcrumb-block__item is-home">
                    <a class="mz-breadcrumb-block__item-inner" href="@CommonConstants.DomainName">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="mz-breadcrumb-block__item">
                    <a class="mz-breadcrumb-block__item-inner " href="/gioi-thieu.html">
                        Giới thiệu
                    </a>
                </li>-->
                @*<li class="mz-breadcrumb-block__item">
                        <div class="mz-breadcrumb-block__item-inner">
                            Đèn trang trí phòng khách
                        </div>
                    </li>*@
            <!--</ul>
        </div>--><!-- .mz-breadcrumb-block__inner -->
    <!--</div>--><!-- .container -->
<!--</section>-->
<!-- InstanceBeginEditable name="Editable Region" -->
<!--<div class="container mb-5">
    <div class="product-detail-block">
        <div class="row">
            <div class="col-lg-12 col-sm-12" style="padding: 30px;">
                
            </div>
        </div>
    </div>
</div>-->
<!-- InstanceEndEditable -->
<div id="gioithieu" class="section-content">
    <div class="title-section text-center">
        <h2>Giới Thiệu</h2>
        <span></span>
    </div>
    <!-- /.title-section -->
    <div class="container">
        <div class="detail">
            <hr>
            <div class="para">
                @Html.Raw(ViewBag.itemMenu.Detail)
            </div>
        </div>
        <!-- /.team-member -->
    </div>
    <!-- /.col-md-6 -->
    <div class="title-section text-center">
        <h2>Bài viết liên quan</h2>
        <span></span>
    </div>
    <div id="relate" class="container">
        <!-- /.col-md-6 -->
    </div>
    <hr>
    <div class="text-center">
        <ul class="pagination">
        </ul>
    </div>

</div>