<div class="row">
    <div class="col-md-12">
        <div class="box-filter top-box  block-scroll-main">
            <div class=" scrolling_inner scroll-right">
                <div class="box-filter block-scroll-main scrolling">
                    <div class="filter-total">
                        <div class="filter-item__title jsTitle">
                            <div class="arrow-filter"></div>
                            <i class="icon-filter pr-3"></i>Bộ lọc
                            <strong class="number count-total" style="display: none;">0</strong>
                        </div>
                        <div class="filter-show show-total" id="wrapper">
                            <div class="show-total-main">
                                <div class="show-total-item count-item">
                                    <p class="show-total-txt">Giá</p>
                                    <div class="filter-list price">
                                        <a href="tu-lanh?p=duoi-5-trieu" data-href="duoi-5-trieu" class="c-btnbox" id="400">Dưới 5 triệu</a>
                                        <a href="tu-lanh?p=tu-5tr-8tr" data-href="tu-5tr-8tr" class="c-btnbox" id="404">Từ 5tr - 8tr</a>
                                        <a href="tu-lanh?p=tu-8tr-12tr" data-href="tu-8tr-12tr" class="c-btnbox" id="402">Từ 8tr - 12tr</a>
                                        <a href="tu-lanh?p=tu-12tr-15tr" data-href="tu-12tr-15tr" class="c-btnbox" id="401">Từ 12tr - 15tr</a>
                                        <a href="tu-lanh?p=tu-15tr-20tr" data-href="tu-15tr-20tr" class="c-btnbox" id="577">Từ 15tr - 20tr</a>
                                        <a href="tu-lanh?p=tren-20-trieu" data-href="tren-20-trieu" class="c-btnbox" id="578">Trên 20 triệu</a>
                                    </div>
                                    <div class="price-slider text-active" data-activetxt="">
                                        <div class="down">Hoặc chọn mức giá phù hợp với bạn</div>
                                        <div class="container">
                                            <div class="range-slider d-block">
                                                <input class="range-slider__range rangeTotal" type="range" value="400" min="0" max="500">
                                                <span class="range-slider__value mt-2">0</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="show-total-item count-item show-full">
                                    <p class="show-total-txt">Kiểu tủ</p>
                                    <div class="filter-list filter-list--door props">
                                        <a href="tu-lanh?g=ngan-da-tren" data-smooth="0" data-href="ngan-da-tren" id="43211" class="c-btnbox">
                                            <div>
                                                <i class="hardcode-iccate more-height">
                                                    <img class="" alt="Ngăn đá trên" src="https://cdn.tgdd.vn/ValueIcons/ngan-da-tren.png">
                                                </i>
                                                <p class="prop-hrd">Ngăn đá trên</p>
                                            </div>
                                        </a>
                                        <a href="tu-lanh?g=ngan-da-duoi" data-smooth="0" data-href="ngan-da-duoi" id="43212" class="c-btnbox">
                                            <div>
                                                <i class="hardcode-iccate more-height">
                                                    <img class="" alt="Ngăn đá dưới" src="https://cdn.tgdd.vn/ValueIcons/ngan-da-duoi.png">
                                                </i>
                                                <p class="prop-hrd">Ngăn đá dưới</p>
                                            </div>
                                        </a>
                                        <a href="tu-lanh?g=mini" data-smooth="0" data-href="mini" id="43214" class="c-btnbox">
                                            <div>
                                                <i class="hardcode-iccate more-height">
                                                    <img class="" alt="Mini" src="https://cdn.tgdd.vn/ValueIcons/logo-tu-mini.png">
                                                </i>
                                                <p class="prop-hrd">Mini</p>
                                            </div>
                                        </a>
                                        <a href="tu-lanh?g=tu-lon-side-by-side" data-smooth="0" data-href="tu-lon-side-by-side" id="43213" class="c-btnbox">
                                            <div>
                                                <i class="hardcode-iccate more-height">
                                                    <img class="" alt="Side by side" src="https://cdn.tgdd.vn/ValueIcons/side-by-side.png">
                                                </i>
                                                <p class="prop-hrd">Side by side</p>
                                            </div>
                                        </a>
                                        <a href="tu-lanh-nhieu-cua" data-smooth="1" data-href="nhieu-cua" id="93682" class="c-btnbox">
                                            <div>
                                                <i class="hardcode-iccate more-height">
                                                    <img class="" alt="Tủ nhiều cửa" src="https://cdn.tgdd.vn/ValueIcons/tu-nhieu-cua.png">
                                                </i>
                                                <p class="prop-hrd">Tủ nhiều cửa</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="filter-border"></div>
                                <div class="show-total-item  count-item">
                                    <p class="show-total-txt">Dung tích</p>
                                    <div class="filter-list filter-list--dung-tich  props">
                                        <a href="tu-lanh?g=duoi-150-lit" data-smooth="0" id="44674" class="c-btnbox">Dưới 150 lít</a>
                                        <a href="tu-lanh?g=tu-150-300-lit" data-smooth="0" id="44675" class="c-btnbox">Từ 150 - 300 lít</a>
                                        <a href="tu-lanh?g=tu-301-400-lit" data-smooth="0" id="44676" class="c-btnbox">Từ 301 - 400 lít</a>
                                        <a href="tu-lanh?g=tu-401-550-lit" data-smooth="0" id="44677" class="c-btnbox">Từ 401 - 550 lít</a>
                                        <a href="tu-lanh?g=tren-550-lit" data-smooth="0" id="93728" class="c-btnbox">Trên 550 lít</a>
                                        <div class="prop-minmax capacity text-active" data-type="capacity" data-unit="lít" data-propid="6961" data-activetxt="">
                                            <p class="range-toggle">
                                                <a href="javascript:;" class="prevent" onclick="loadRangeInput(this)">
                                                    <span class="">Hoặc tùy chọn dung tích</span>
                                                </a>
                                            </p>
                                            <div class="container" style="display: none;">
                                                <div class="prop-minmax-input">
                                                    <div class="input-box">
                                                        <label>Từ</label>
                                                        <span class="input-from">
                                                            <input type="number" class="min" name="capacity-min-value" placeholder="50" data-minvalue="50" value="">
                                                            <label class="place-holder">lít</label>
                                                        </span>
                                                        <label>Đến</label>
                                                        <span class="input-to">
                                                            <input type="number" class="max" name="capacity-max-value" placeholder="700" data-maxvalue="700" value="">
                                                            <label class="place-holder">lít</label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="show-total-item count-item">
                                    <p class="show-total-txt">Kích thước <a href="#" class="link-capacity"><i class="iconcate-question"></i><label> Lưu ý chọn kích thước</label></a></p>
                                    <div class="filter-list short-width p-0">
                                        <div class="w-100 d-flex">
                                            <div class="w-50">
                                                <label for="" class="form-label">Ngang từ</label>
                                                <input type="text" class="form-control" id="">
                                            </div>
                                            <div class="w-50">
                                                <label for="" class="form-label">đến</label>
                                                <input type="text" class="form-control" id="">
                                            </div>
                                        </div>
                                        <div class="w-100 d-flex">
                                            <div class="w-50">
                                                <label for="" class="form-label">Cao từ</label>
                                                <input type="text" class="form-control" id="">
                                            </div>
                                            <div class="w-50">
                                                <label for="" class="form-label">đến</label>
                                                <input type="text" class="form-control" id="">
                                            </div>
                                        </div>
                                        <div class="w-100 d-flex">
                                            <div class="w-50">
                                                <label for="" class="form-label">Sâu từ</label>
                                                <input type="text" class="form-control" id="">
                                            </div>
                                            <div class="w-50">
                                                <label for="" class="form-label">đến</label>
                                                <input type="text" class="form-control" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="show-total-item  hide">
                                    <p class="show-total-txt">Năm ra mắt</p>
                                    <div class="filter-list filter-list--nam-ra-mat newyearFilter props">
                                        <a href="tu-lanh?g=2021" data-smooth="0" id="181383" class="c-btnbox">2021</a>
                                    </div>
                                </div>
                                <div class="show-total-item  count-item">
                                    <p class="show-total-txt">Chất liệu cửa tủ</p>
                                    <div class="filter-list filter-list--chat-lieu-cua-tu  props" id="tblDataChatLieuBoLoc">

                                    </div>
                                </div>
                                <div class="filter-border"></div>
                                <div class="show-total-item  count-item">
                                    <p class="show-total-txt">Tiện ích</p>
                                    <div class="filter-list filter-list--tien-ich  props"  id="tblDataTienIchBoLoc">

                                    </div>
                                </div>
                                <div class="show-total-item  count-item">
                                    <p class="show-total-txt">Sản xuất tại</p>
                                    <div class="filter-list filter-list--san-xuat-tai  props" id="tblDataThuongHieuBoLoc">
                                    </div>
                                </div>
                                <div class="filter-button filter-button--total d-flex">
                                    <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                                    <a href="javascript:;" class="btn-filter-readmore">Xem <b class="total-reloading">141</b> kết quả</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item block-manu" data-id="filter1">
                        <div class="filter-item__title jsTitle">
                            <div class="arrow-filter"></div><span>Thương hiệu</span>
                        </div>
                        <div class="filter-show filter_item" id="filter1-info">
                            <div class="filter-list filter-list--hang manu" id="tblDataThuongHieu">
                            </div>
                            <div class="filter-button">
                                <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                                <a href="#" class="btn-filter-readmore">Xem <b class="total-reloading">77</b> kết quả</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item warpper-price-outside" data-id="price">
                        <div class="filter-item__title jsTitle">
                            <div class="arrow-filter"></div><span>Giá</span>
                        </div>
                        <div class="filter-show filter_item" id="price-info">
                            <div class="filter-list price">
                                <a href="tu-lanh?p=duoi-5-trieu" data-href="duoi-5-trieu" class="c-btnbox" id="400">Dưới 5 triệu</a>
                                <a href="tu-lanh?p=tu-5tr-8tr" data-href="tu-5tr-8tr" class="c-btnbox" id="404">Từ 5tr - 8tr</a>
                                <a href="tu-lanh?p=tu-8tr-12tr" data-href="tu-8tr-12tr" class="c-btnbox" id="402">Từ 8tr - 12tr</a>
                                <a href="tu-lanh?p=tu-12tr-15tr" data-href="tu-12tr-15tr" class="c-btnbox" id="401">Từ 12tr - 15tr</a>
                                <a href="tu-lanh?p=tu-15tr-20tr" data-href="tu-15tr-20tr" class="c-btnbox" id="577">Từ 15tr - 20tr</a>
                                <a href="tu-lanh?p=tren-20-trieu" data-href="tren-20-trieu" class="c-btnbox" id="578">Trên 20 triệu</a>
                            </div>
                            <div class="price-slider text-active" data-activetxt="">
                                <div class="down">Hoặc chọn mức giá phù hợp với bạn</div>
                                <div class="container">
                                    <div class="range-slider">
                                        <input class="range-slider__range" type="range" value="100000" min="0" max="500000">
                                        <span class="range-slider__value">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-button m-auto">
                                <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                                <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b class="total-reloading">141</b> kết quả</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item" data-id="filter2">
                        <div class="filter-item__title jsTitle noselecttext" data-textorg="Kiểu tủ">
                            <div class="arrow-filter"></div>
                            <span>Loại gạch</span>
                        </div>
                        <div class="filter-show filter_item" id="filter2-info">
                            <div class="filter-list filter-list--door props">
                                <a href="tu-lanh?g=ngan-da-tren" data-smooth="0" data-href="ngan-da-tren" id="43211" class="c-btnbox">
                                    <div>
                                        <i class="hardcode-iccate">
                                            <img alt="Ngăn đá trên" src="https://cdn.tgdd.vn/ValueIcons/ngan-da-tren.png">
                                        </i>
                                        <p class="prop-hrd">Ngăn đá trên</p>
                                    </div>
                                </a>
                                <a href="tu-lanh?g=ngan-da-duoi" data-smooth="0" data-href="ngan-da-duoi" id="43212" class="c-btnbox">
                                    <div>
                                        <i class="hardcode-iccate">
                                            <img alt="Ngăn đá dưới" src="https://cdn.tgdd.vn/ValueIcons/ngan-da-duoi.png">
                                        </i>
                                        <p class="prop-hrd">Ngăn đá dưới</p>
                                    </div>
                                </a>
                                <a href="tu-lanh?g=mini" data-smooth="0" data-href="mini" id="43214" class="c-btnbox">
                                    <div>
                                        <i class="hardcode-iccate">
                                            <img alt="Mini" src="https://cdn.tgdd.vn/ValueIcons/logo-tu-mini.png">
                                        </i>
                                        <p class="prop-hrd">Mini</p>
                                    </div>
                                </a>
                                <a href="tu-lanh?g=tu-lon-side-by-side" data-smooth="0" data-href="tu-lon-side-by-side" id="43213" class="c-btnbox">
                                    <div>
                                        <i class="hardcode-iccate">
                                            <img alt="Side by side" src="https://cdn.tgdd.vn/ValueIcons/side-by-side.png">
                                        </i>
                                        <p class="prop-hrd">Side by side</p>
                                    </div>
                                </a>
                                <a href="tu-lanh-nhieu-cua" data-smooth="1" data-href="nhieu-cua" id="93682" class="c-btnbox">
                                    <div>
                                        <i class="hardcode-iccate">
                                            <img alt="Tủ nhiều cửa" src="https://cdn.tgdd.vn/ValueIcons/tu-nhieu-cua.png">
                                        </i>
                                        <p class="prop-hrd">Tủ nhiều cửa</p>
                                    </div>
                                </a>
                            </div>
                            <div class="filter-button">
                                <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                                <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b class="total-reloading">141</b> kết quả</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item" data-id="filter3" propertyid="6961">
                        <div class="filter-item__title jsTitle noselecttext" data-textorg="Dung tích">
                            <div class="arrow-filter"></div>
                            <span>Trọng lượng</span>
                        </div>
                        <div class="filter-show filter_item" id="filter3-info">
                            <div class="filter-list  props">
                                <a href="tu-lanh?g=duoi-150-lit" data-tooltip="" data-smooth="0" data-href="duoi-150-lit" id="44674" class="c-btnbox">Dưới 150 lít</a>
                                <a href="tu-lanh?g=tu-150-300-lit" data-tooltip="" data-smooth="0" data-href="tu-150-300-lit" id="44675" class="c-btnbox">Từ 150 - 300 lít</a>
                                <a href="tu-lanh?g=tu-301-400-lit" data-tooltip="" data-smooth="0" data-href="tu-301-400-lit" id="44676" class="c-btnbox">Từ 301 - 400 lít</a>
                                <a href="tu-lanh?g=tu-401-550-lit" data-tooltip="" data-smooth="0" data-href="tu-401-550-lit" id="44677" class="c-btnbox">Từ 401 - 550 lít</a>
                                <a href="tu-lanh?g=tren-550-lit" data-tooltip="" data-smooth="0" data-href="tren-550-lit" id="93728" class="c-btnbox">Trên 550 lít</a>
                                <div class="rangePrice w-100 mt-2">
                                    <p>
                                        <span class="bold">Hoặc tùy chọn trọng lượng</span>
                                    </p>

                                    <div class="container">
                                        <div class="range-slider">
                                            <input class="range-slider__range" type="range" value="400000" min="0" max="500000">
                                            <span class="range-slider__value">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-button">
                                <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                                <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b class="total-reloading">141</b> kết quả</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item" data-id="filter4" propertyid="6602">
                        <div class="filter-item__title jsTitle noselecttext" data-textorg="Kích thước">
                            <div class="arrow-filter"></div>
                            <span>Kích thước</span>
                        </div>
                        <div class="filter-show filter_item short-width filter-show-right" id="filter4-info">
                            <div class="w-100 d-flex">
                                <div class="w-50">
                                    <label for="" class="form-label">Ngang từ</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                                <div class="w-50">
                                    <label for="" class="form-label">đến</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                            </div>
                            <div class="w-100 d-flex">
                                <div class="w-50">
                                    <label for="" class="form-label">Cao từ</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                                <div class="w-50">
                                    <label for="" class="form-label">đến</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                            </div>
                            <div class="w-100 d-flex">
                                <div class="w-50">
                                    <label for="" class="form-label">Sâu từ</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                                <div class="w-50">
                                    <label for="" class="form-label">đến</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                            </div>
                            <div class="filter-button">
                                <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                                <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b class="total-reloading">141</b> kết quả</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item" data-id="filter6" propertyid="26848">
                        <div class="filter-item__title jsTitle noselecttext" data-textorg="Chất liệu cửa tủ">
                            <div class="arrow-filter"></div>
                            <span>Chất liệu</span>
                        </div>
                        <div class="filter-show filter_item filter-show-right" id="filter6-info">
                            <div class="filter-list  props" id="tblDataChatLieu">

                            </div>
                            <div class="filter-button">
                                <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                                <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b class="total-reloading">141</b> kết quả</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item" data-id="filter7" propertyid="26835">
                        <div class="filter-item__title jsTitle noselecttext" data-textorg="Tiện ích">
                            <div class="arrow-filter"></div>
                            <span>Tiện ích</span>
                        </div>
                        <div class="filter-show filter_item filter-show-right" id="filter7-info">
                            <div class="filter-list  props" id="tblDataTienIch">

                            </div>
                            <div class="filter-button">
                                <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                                <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b class="total-reloading">141</b> kết quả</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item" data-id="filter8" propertyid="6586">
                        <div class="filter-item__title jsTitle noselecttext" data-textorg="Sản xuất tại">
                            <div class="arrow-filter"></div>
                            <span>Sản xuất tại</span>
                        </div>
                        <div class="filter-show filter_item filter-show-right" id="filter8-info">
                            <div class="filter-list  props" id="tblDataQuocGia">
                            </div>
                            <div class="filter-button">
                                <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                                <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b class="total-reloading">141</b> kết quả</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-quicklink  block-scroll-main">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box-sort">
            <p class="sort-total"><b>141</b> Tủ lạnh <strong class="manu-sort"></strong></p>
            <div class="box-checkbox extend d-flex ">
                <div class="form-check form-check-inline px-lg-4">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">
                        Giảm giá
                    </label>
                </div>
                <div class="form-check form-check-inline px-lg-4">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Bán chạy</label>
                </div>
                <div class="form-check form-check-inline px-lg-4">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Độc quyền</label>
                </div>
            </div>
            <div class="sort-select">
                <select class="form-select p-1 bordered" aria-label="">
                    <option selected>Xếp theo: Bán chạy</option>
                    <option value="1">% Giảm</option>
                    <option value="2">Giá cao đến thấp</option>
                    <option value="3">Giá thấp đến cao</option>
                </select>
            </div>
        </div>
    </div>
    <script id="template-search-thuonghieu" type="x-tmpl-mustache">
        <a data-toggle="tooltip" title="{{Title}}" href="{{MetaTitle}}" class="c-btnbox  filter-manu" data-href="{{MetaTitle}}" id="{{id}}" data-name="{{Title}}">
            <img src="{{images}}" width="68" height="30" alt="{{Title}}">
        </a>
    </script>
    <script id="template-search-quocgia" type="x-tmpl-mustache">
        <a data-toggle="tooltip" title="{{Name}}" id="{{id}}" class="c-btnbox">{{Name}}</a>
    </script>
    <script id="template-search-tienich" type="x-tmpl-mustache">
        <a data-toggle="tooltip" data-smooth="1" title="{{Name}}" id="{{id}}" class="c-btnbox">{{Name}}</a>
    </script>
    <script id="template-search-chatlieu" type="x-tmpl-mustache">
        <a data-toggle="tooltip" data-smooth="1" title="{{Name}}" id="{{id}}" class="c-btnbox">{{Name}}</a>
    </script>
</div>