<!-- Modal -->
<div class="modal fade style-16" id="ModalChangePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titleChangePassword">ĐỔI MẬT KHẨU</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" id="frmChangePassword" modelAttribute="modelForm" class="form-horizontal form-label-left">
                    <input type="hidden" id="ChangePassword_hidID" value="0" />
                    <div class="form-group row">
                        <div class=" col-md-12 col-sm-12 col-xs-12">
                            <label class="control-label" for="ChangePassword_txtpassword">
                                Mật khẩu mới: <span class="required">*</span>
                            </label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="password" class="form-control" name="ChangePassword_txtpassword" id="ChangePassword_txtpassword">
                        </div>
                    </div>
                    <div class="form-group row">
                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                <label for="description" class="control-label">Xác nhận mật khẩu mới: <span class="required">*</span></label>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="password" class="form-control" name="ChangePassword_txtre_password" id="ChangePassword_txtre_password">
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Đóng</button>
                <button style="margin-bottom: 0px;margin-left: 5px;" type="button" class="btn btn-xs btn-primary" id="btnChangePassword">Lưu</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->