@using ClsCommon;
@{
    ViewBag.Title = "Kiểm tra tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    
}
<h1 style="text-align:center;color:blue;margin-top:50px;margin-bottom:150px">Tài khoản của bạn đang chờ kiểm duyệt. Vui lòng kiểm tra email khi có kết quả kiểm duyệt.</h1>