@using ClsCommon;
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/app/_Layouts.cshtml";
}
<div class="container mb-5">
    <div class="row">
        <div class="group2 col-lg-12 col-sm-12">
            @*<nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@CommonConstants.DomainName">Bến Tre</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Quên mật khẩu</li>
                </ol>
            </nav>*@
            @if (ViewBag.ckError == 1)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.CustomError
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            else if (ViewBag.ckError == 0)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.CustomError
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            }
            <div class="bg-light pt-2 tab-pane">
                <form id="fmQuenMatKhau" method="post" name="fmQuenMatKhau" action="@CommonConstants.DomainName/User/QuenMatKhauApp">
                    @*<div class="form-group row">
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <h3>Quên mật khẩu</h3>
                        </div>
                    </div>*@
                    <div class="form-group row">
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <label class=" col-xs-12 col-sm-12 col-md-12">Email</label>
                            <div class=" col-xs-12 col-sm-12 col-md-12">
                                <input id="email" name="email" type="email" required="" placeholder="Email"
                                       oninvalid="this.setCustomValidity('Vui lòng nhập email')"
                                       oninput="setCustomValidity('')" class="form-control mb-3">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <span class="waves-input-wrapper">
                                <button type="submit" id="btnSend" value=" Gửi yêu cầu " class="btn btn-info ">Gửi yêu cầu</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
