@using ClsCommon;
@{
    ViewBag.Title = "IndexLanhDao";
    Layout = "~/Areas/Admin/Views/Shared/lanhdao/_Layouts.cshtml";
}
@section jsFooter{
    <script src="@CommonConstants.DomainName/assets/client/js/lanhdao/AppIndexAll.js"></script>
}
<!-- InstanceBeginEditable name="Editable Region" -->
<div class="bg-header">
    <h2 class="text-uppercase text-center m-0">HỆ THỐNG DỮ LIỆU DOANH NGHIỆP</h2>
    <h1 class="text-uppercase text-center m-0">TỈNH BẾN TRE</h1>
</div>
<div class="container">
    <h3 class="text-uppercase text-center my-3">Hệ thống báo cáo, thống kê</h3>
    <div class="row items px-3">
        <select id="HuyenId" class="d-block mt-2 select">
            <option value="0"> &#xf080; Huyện, thị</option>
            <option value="844">huyện Mỏ Cày Bắc</option>
            <option value="843">huyện Thạnh Phú</option>
            <option value="842">huyện Ba Tri</option>
            <option value="841">huyện Bình Đại</option>
            <option value="840">huyện Giồng Trôm</option>
            <option value="839">huyện Mỏ Cày Nam</option>
            <option value="838">huyện Chợ Lách</option>
            <option value="837">huyện Châu Thành</option>
            <option value="836">thành phố Bến Tre</option>
        </select>

    </div>
    <div class="row items px-3">
        <select id="XaPhuongId" class="d-block mt-2 select">
            <option value="0">&#xf1fe;  Phường, xã, thị trấn</option>

        </select>

    </div>
    <div class="row items px-3">
        <select id="LinhVuc" class="d-block mt-2 select">
            <option value="0">&#xf201;  Ngành/ lĩnh vực</option>
            <option value="25">Tiểu thủ công nghiệp</option>
            <option value="24">Thương mại</option>
            <option value="23">Dịch vụ</option>
            <option value="22">Sản xuất</option>
            <option value="16">Thương nghiệp</option>
            <option value="12">Giáo dục và đào tạo</option>
            <option value="11">Nghệ thuật vui chơi và giải trí</option>
            <option value="8">Y tế</option>
            <option value="7">Giao thông Vận tải - TTLL</option>
            <option value="6">Mua bán và khai thác thủy sản</option>
            <option value="5">Tín dụng</option>
            <option value="4">Thương mại Dịch vụ</option>
            <option value="3">Xây dựng</option>
            <option value="2">Công nghiệp</option>
        </select>

    </div>
    <div class="row items px-3">
        <select id="LoaiHinh" class="d-block mt-2 select">
            <option selected value="3">&#xf200; Doanh Nghiệp</option>
            <option value="1">&#xf200; Hộ kinh doanh</option>
            <option value="2">&#xf200; Hợp tác xã</option>
        </select>

    </div>
    <!-- Doanh nghiệp  -->
    <div class="d-table w-100 my-3 px-2">
        <p class="d-table-cell text-bold w-60 align-bottom">
            Số lượng:
            <select id="huyenDNBieuDo" class="d-block mt-2">
                <option selected value="0">--Toàn tỉnh--</option>
                <option value="836">thành phố Bến Tre</option>
                <option value="838">huyện Chợ Lách</option>
                <option value="837">huyện Châu Thành</option>
                <option value="844">huyện Mỏ Cày Bắc</option>
                <option value="840">huyện Giồng Trôm</option>
                <option value="839">huyện Mỏ Cày Nam</option>
                <option value="843">huyện Thạnh Phú</option>
                <option value="842">huyện Ba Tri</option>
                <option value="841">huyện Bình Đại</option>
            </select>
        </p>
        <p class="d-table-cell text-right text-bold align-bottom">
            Tổng
            <span class="d-block number mt-2 border" id="TongDN">23.890.908</span>
        </p>
    </div>
    <div id="piechart_DN2" class="w-100 mt-3 chart"></div>
    <div id="columnchart_DN2" class="w-100 chart"></div>
    <div id="trendline_DN2" class="w-100 my-3 chart"></div>
    <div id="columnschart_DN2" class="w-100 my-3 chart"></div>
    <div id="linechart_DN2" class="w-100 my-4 chart"></div>
    <!-- Vốn doanh nghiệp  -->
    <hr>
    <div class="d-table w-100 my-3 px-2">
        <p class="d-table-cell text-bold w-60 align-bottom">
            Vốn:
            <select id="huyenDNBieuDo2" class="d-block mt-2">
                <option selected value="0">--Toàn tỉnh--</option>
                <option value="836">thành phố Bến Tre</option>
                <option value="838">huyện Chợ Lách</option>
                <option value="837">huyện Châu Thành</option>
                <option value="844">huyện Mỏ Cày Bắc</option>
                <option value="840">huyện Giồng Trôm</option>
                <option value="839">huyện Mỏ Cày Nam</option>
                <option value="843">huyện Thạnh Phú</option>
                <option value="842">huyện Ba Tri</option>
                <option value="841">huyện Bình Đại</option>
            </select>
        </p>
        <p class="d-table-cell text-right text-bold align-bottom">
            Tổng (tỷ đồng)
            <span class="d-block number mt-2 border" id="TongVonDN">23.890.908</span>
        </p>
    </div>
    <div id="piechart_VDN2" class="w-100 mt-3 chart"></div>
    <div id="columnchart_VDN2" class="w-100 chart"></div>
    <div id="trendline_VDN2" class="w-100 my-3 chart"></div>
    <div id="columnschart_VDN2" class="w-100 my-3 chart"></div>
    <div id="linechart_VDN2" class="w-100 my-4 chart"></div>
    <!-- Số lao động  -->
    <hr>
    <div class="d-table w-100 my-3 px-2">
        <p class="d-table-cell text-bold w-60 align-bottom">
            Số lao động:
            <select id="huyenDNBieuDo3" class="d-block mt-2">
                <option selected value="0">--Toàn tỉnh--</option>
                <option value="836">thành phố Bến Tre</option>
                <option value="838">huyện Chợ Lách</option>
                <option value="837">huyện Châu Thành</option>
                <option value="844">huyện Mỏ Cày Bắc</option>
                <option value="840">huyện Giồng Trôm</option>
                <option value="839">huyện Mỏ Cày Nam</option>
                <option value="843">huyện Thạnh Phú</option>
                <option value="842">huyện Ba Tri</option>
                <option value="841">huyện Bình Đại</option>
            </select>
        </p>
        <p class="d-table-cell text-right text-bold align-bottom">
            Tổng (người)
            <span class="d-block number mt-2 border" id="TongLDDN">23.890</span>
        </p>
    </div>
    <div id="piechart_LDDN2" class="w-100 mt-3 chart"></div>
    <div id="columnchart_LDDN2" class="w-100 chart"></div>
    <div id="trendline_LDDN2" class="w-100 my-3 chart"></div>
    <div id="columnschart_LDDN2" class="w-100 my-3 chart"></div>
    <div id="linechart_LDDN2" class="w-100 my-4 chart"></div>
</div>

<!-- InstanceEndEditable -->
