@using Model.Dao;
@using ClsCommon;
@{ 


}
<section class="home-feedback-section">
    <div class="section-head">
        <div class="container">
            <div class="section-head-inner">
                <div class="section-title-group">
                    <div class="section-title">
                        <a class="section-title-inner" href="/gop-y-hoi-dap">
                            Nhận xét từ khách hàng
                            <i class="fal fa-angle-right"></i>
                        </a>
                    </div> <!-- section-title -->
                    <div class="readmore-label">
                        <a rel="nofollow" href="/gop-y-hoi-dap" class="readmore-label-inner">
                            Xem thêm
                        </a>
                    </div>
                </div>
                <a class="mz-btn mz-btn-primary mz-btn-md mz-btn-bdr-round write-feedback-btn" href="/gop-y-hoi-dap">
                    <span class="mz-btn__label-col">Gửi đánh giá của Quý Khách</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="home-feedback-block" class="home-feedback-block">
            <div class="testimonialSlider">
                <div class="carousel-container carousel-nav-floated carousel-nav-center carousel-nav-middle carousel-nav-md carousel-nav-square carousel-nav-solid carousel-dots-style4">
                    <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":true,"buttonsAppendTo":"self","autoPlay":3000}'>
                        @foreach (var item in Model)
                        {
                            string name = item.Name;
                            string Content = item.Content;
                            <div class="carousel-item col-md-3 col-xs-6 px-1">
                                <figure>
                                    <div class="feedback-panel">
                                        <div class="panel-head">
                                            <div class="img-col">
                                                <div class="avatar-field is-warning">
                                                    <span class="avatar-label">PA</span>
                                                </div>
                                            </div>
                                            <div class="info-col">
                                                <div class="customer-name">
                                                    <div>
                                                        @name
                                                    </div>
                                                </div>
                                                <div class="customer-job">Khách hàng</div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            @Content
                                        </div>
                                    </div>
                                </figure>
                            </div><!-- /.carousel-item -->
                        }
                    </div><!-- /.carousel-items -->
                </div><!-- /.carousel-container -->
            </div>
        </div>
    </div><!-- .home-feedback-block -->
</section>