<!DOCTYPE html>
<html>
<head>
    <title>Quên mật khẩu</title>
    <meta charset="utf-8" />
</head>
<body>
    <p>Chào bạn {{FullName}}</p>

    <p>
        Bạn hoặc ai đó đã yêu cầu reset lại mật khẩu tại {{Domain}}
    </p>
    <p>Nếu đó là bạn vui lòng click đường link bên dưới để thay đổi mật khẩu của bạn</p>
    <p>
        {{Link}}
    </p>

    <p>Ngược lại vui lòng bỏ qua link này</p>

    <p>Link có hiệu lực trong vòng 48 h từ khi nhận được email này.</p>

    <p>Trân trọng</p>
    Quản trị
</body>
</html>




